[submodule "lwip"]
	path = lwip
	url = https://github.com/ssrg-vt/lwip-hermitux.git
	branch = hermit
[submodule "usr/libomp"]
	path = usr/libomp
	url = https://github.com/ssrg-vt/libomp_oss-hermitux.git
	branch = hermit
